@use "modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eee;
}

a {
  color: black;
  text-decoration: none;
}

.timer {
  text-align: center;

  &.timer--paused {
    filter: brightness(50%);
  }

  .timer__toggle-button {
    all: unset;
    width: 100%;
  }

  .timer__content {
    padding: 20px;
  }

  &:nth-of-type(1) {
    background-color: orange;
  }

  &:nth-of-type(2) {
    background-color: mediumpurple;
  }

  &:nth-of-type(3) {
    background-color: yellow;
  }
}

.days {
  display: flex;
  flex-direction: column;
  .day {
    width: 100vw;
    display: inline-flex;
    .day__date {
      align-self: center;
      padding: 5px;
    }
    border-bottom: #383838 solid 3px;
  }

  .timers {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .timer {
      width: 33.33%;

      .timer__content {
        padding: 5px;
      }

      .timer__name {
        padding: 0 20px;
        font-size: 1rem;
        margin-bottom: 3px;
      }

      .timer__time {
        font-size: 1.25rem;
      }
    }
  }
}

.day-interface {
  display: flex;
  flex-direction: column;
  height: 100%;

  .day-interface__index-link {
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    display: block;
    font-size: 1.5rem;
    background-color: lightsteelblue;
    border-radius: 40px;
    padding: 20px;
  }

  .day-interface__edit-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 40px;
  }

  .day {
    height: 100%;
    align-content: center;
    .day__date {
      margin-bottom: 10px;
      text-align: center;
      font-size: 2rem;
    }
  }

  .timer {
    position: relative;
    .timer__time {
      font-size: 5rem;
      width: 100%;
      text-align: center;
    }
    .timer__name {
      font-size: 2rem;
    }
  }
}

.day-form {

  .day-form__time-field {
    &:not(:last-of-type) {
      border-bottom: 2px solid black;
    }
  }
  label {
    text-align: center;
    display: block;
    font-size: 1.5rem;
  }
  input {
    font-size: 3.5rem;
    text-align: center;
    border: none;
    width: 100%;
  }

  [type="submit"] {
    font-size: 1.75rem;
    border: none;
    background: lightblue;
    padding: 10px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
  }
}